name: CI
permissions:
    contents: read
    pull-requests: write
on: [push, pull_request]

jobs:
    format-markdown:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Format Markdown with markdownlint
              run: |
                  npm install -g markdownlint-cli
                  markdownlint --disable MD013 MD033 MD041 --fix . --ignore CODE_OF_CONDUCT.md
                  git add -A
                  git diff --cached --exit-code

    format-python:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Format Python with ruff
              run: |
                  uvx ruff format . --check
